.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Fuentes Solicitadas */
@font-face{
  font-family: 'Stadium';
  src: url('./Fonts/Stadium.ttf') format('truetype');
}
@font-face{
  font-family: 'Anton';
  src: url('./Fonts/Anton.ttf') format('truetype');
}
@font-face{
  font-family: 'Sarabun';
  src: url('./Fonts/Sarabun.ttf');
}
@font-face {
  font-family: 'SarabunRegular';
  src: url('./Fonts/SarabunRegular.ttf');
}
@font-face {
  font-family: 'OpenSans';
  src: url('./Fonts/OpenSans.ttf');
}
@font-face {
  font-family: 'Galaxus';
  src: url('./Fonts/Galaxus.otf');
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
